body {
    font-family: Arial, sans-serif;
    background: url('image/background.jpg') no-repeat center center fixed;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result, #installment-details {
    margin-top: 20px;
}

#installment-details {
    max-height: 400px;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
}

footer p {
    display: inline-block;
    border-bottom: 3px solid rgb(0, 119, 255);
    padding-bottom: 5px;
}
